* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;

  --nav-text: rgb(43, 47, 49);
  --nav-background: rgb(64, 144, 84);
  --nav-text-light: rgb(209, 209, 209);
}

/* nav styling */
.nav-bar {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 10vh;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px rgb(211, 205, 205) solid;
  background-color: white;
}

.option {
  margin-right: 5vw;
}

.option a {
  font-size: 1.5vw;
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.logo {
  position: relative;
  display: flex;
  left: -10vw;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(49, 59, 141);
}

.logo .icon-part {
  width: 0.5vw;
  height: 4vh;
  transform: skew(-32deg, 0deg);
  margin-left: 3px;
}

.logo {
  position: relative;
  left: -3vw;
}

.logo .name {
  margin-bottom: 1.5vh;
  margin-left: 0.5vw;
  font-weight: 800;
}
.logo .icon-part:nth-child(1) {
  background-color: rgb(45, 109, 59);
}
.logo .icon-part:nth-child(2) {
  background-color: rgb(108, 177, 124);
}
.logo .icon-part:nth-child(3) {
  background-color: rgb(194, 207, 197);
}

.option:last-child {
  padding: 1vw;
  border-radius: 2vw;
  background: linear-gradient(
    63deg,
    rgba(54, 224, 110, 1) 12%,
    rgba(25, 172, 195, 0.9587185215883228) 70%
  );
}
.option:last-child a {
  color: white;
}

/* nav styling end */

/* sections */
section h1 {
  color: var(--nav-text);
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vw;
}

section p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5vw;
}

section img {
  width: 100%;
}
/* 
.content-container {
  margin: 1vw;
} */

section:nth-child(1) {
  background-color: rgb(216, 222, 226);
  border-radius: 1vw;
  padding: 1vw;
}

section:nth-child(2) {
  background-color: rgb(185, 191, 195);
  border-radius: 1vw;
  padding: 1vw;
}

section:nth-child(3) {
  background-color: rgb(140, 144, 146);
  border-radius: 1vw;
  padding: 1vw;
}

section:nth-child(4) {
  background-color: rgb(66, 70, 71);
  color: var(--nav-text-light);
  border-radius: 1vw;
  padding: 1vw;
}

#last {
  color: var(--nav-text-light);
}

section {
  margin-bottom: 1vw;
}

/* sections end*/

/* sticky nav &stuff */
.nav-bar {
  position: sticky;
  top: 5vh;
}

/* sticky nav &stuff end*/
