<!--<app-header [amountCnt]="basketItems" [headerCurrency]="currency" [headerBasketValue]="basketValue"  (changeCurrency)="updateCurr($event)"></app-header>-->
<!--<app-dishes [dishesBasketItems]="basketItems" [dishesCurrency]="currency" [dishesBasketValue]="basketValue" [dishesExchangeRate]="exchangeRate" (updateRestBasketValue)="updateBasketValue($event)" (updateRestBasketItems)="updateBasketItems($event)" ></app-dishes>-->
<app-header></app-header>
<app-filters-bar></app-filters-bar>
<app-dishes></app-dishes>
