<app-navbar></app-navbar>
<div class="container">
  <div class="box">
    <h1>Logout option</h1>
    <div>
      <input type="radio" id="LOCAL" name="persistence" value="LOCAL"
             checked (click)="dataHandler.changeToLOCAL()">
      <label for="LOCAL">LOCAL</label>
    </div>
    <div>
      <input type="radio" id="SESSION" name="persistence" value="SESSION"
             (click)="dataHandler.changeToSESSION()">
      <label for="SESSION">SESSION</label>
    </div>
    <div>
      <input type="radio" id="NONE" name="persistence" value="NONE"
             (click)="dataHandler.changeToNONE()">
      <label for="NONE">NONE</label>
    </div>
  </div>
  <div class="box">
    <div class="list-of-users">
      <h1>List of all users</h1>
      <div class="user" *ngFor="let user of dataHandler.myUsers">
        <h2>{{user.nick}}</h2>
        <div>
          <input type="checkbox" id="{{user.UID + 'user'}}" [checked]="user.roles.user" (change)="changeRoleUser(user)">
          <label for="{{user.UID + 'user'}}">User</label>
        </div>
        <div>
          <input type="checkbox" id="{{user.UID + 'manger'}}" [checked]="user.roles.manager" (change)="changeRoleManager(user)">
          <label for="{{user.UID + 'manger'}}">Manger</label>
        </div>
        <div>
          <input type="checkbox" id="{{user.UID + 'admin'}}" [checked]="user.roles.admin" (change)="changeRoleAdmin(user)">
          <label for="{{user.UID + 'admin'}}">Admin</label>
        </div>
        <div>
          <input type="checkbox" id="{{user.UID + 'banned'}}" [checked]="user.roles.banned" (change)="changeRoleBanned(user)">
          <label for="{{user.UID + 'banned'}}">Banned</label>
        </div>
      </div>
    </div>
  </div>
</div>
