* {
  margin: 0;
  padding: 0;
  font-family: Georgia, Times, "Times New Roman", serif;
}

.name {
  color: #fff;
  font-size: 4vw;
  font-weight: bold;
  position: relative;
  left: 40vw;
}

.score {
  color: #fff;
  font-size: 3vw;
  font-weight: bold;
  float: right;
  margin: 40px;
}

.end {
  color: #fff;
  font-size: 8vw;
  font-weight: 900;
  position: relative;
  top: 20vh;
  left: 30vw;
  display: none;
}

.board {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("./img/board.jpg");
  cursor: url("./img/ch1.png"), crosshair;
}

.zombie {
  width: 200px;
  height: 312px;
  background: url(./img/walkingdead.png);
  position: absolute;
  left: 110%;
  bottom: 100px;
  animation: startingPos steps(9) 0.5s 0s infinite, walk linear 10s 0s 1;
}

@keyframes startingPos {
  100% {
    background-position: -1800px 0;
  }
}

@keyframes walk {
  100% {
    left: -300px;
  }
}
