<div class="container">
  <div class="box-and-form-holder">
    <div class="box">
      <div class="dish-details">
        <div class="img-box">
          <section>
            <picture>
              <img
                src="{{getMyDish() != null ? getMyDish().imgPath[0] : null}}"
                alt="1"
              />
            </picture>
            <picture>
              <img
                src="{{getMyDish() != null ? getMyDish().imgPath[0] : null}}"
                alt="2"
              />
            </picture>
            <picture>
              <img
                src="{{getMyDish() != null ? getMyDish().imgPath[0] : null}}"
                alt="3"
              />
            </picture>
          </section>
        </div>
        <div class="generalInfo">
          <h1>{{getMyDish() != null ? getMyDish().name : null | uppercase}}</h1>
          <h2>Kuchnia: {{getMyDish() != null ? getMyDish().cuisine : null | uppercase}}</h2>
          <h2>Rodzaj dania: {{getMyDish() != null ? getMyDish().dishType : null | lowercase}}</h2>
        </div>
        <div class="ingredients">
          <h2>Skła<span>dniki</span></h2>
          <ul>
            <li *ngFor="let item of getMyDish() != null ? getMyDish().ingredients : null">{{item}}</li>
          </ul>
        </div>
        <div class="info">

        </div>
        <div class="description">
          <h2>OPIS</h2>
          <p>"{{getMyDish() != null ? getMyDish().description : null}}"</p>
        </div>
        <div class="amount">
          <h2>Dostępna ilość:</h2>
          <h4>
            {{getMyDish() != null ? getMyDish().amount : 0 - moneyItemHandler.getAmountInChecklist(getMyDish())}}
          </h4>

          <button class="plus" (click)="takeItem(getMyDish())"
                  [disabled]="(getMyDish() != null ? getMyDish().amount : null)===0 || !dishService.isUser">+</button>
          <button class="minus" (click)="returnItem(getMyDish())"
                  [disabled]="(getMyDish() != null ? getMyDish().amount : null)=== (getMyDish() != null ? getMyDish().maxAmt : null) || !dishService.isUser">-</button>

        </div>

        <div class="priceAndStars">
          <div class="price">
            <h2>
              Price
              <span>
          {{ moneyItemHandler.getRealPrice(getMyDish() != null ? getMyDish().price : 0) }}
        </span>


              {{moneyItemHandler.currency }}
            </h2>

          </div>

          <div class="stars" *ngIf="dishService.isUser">
              <i *ngIf="getMyDish().rating < 1;else fullStar1"
                 class="fa fa-star-o" aria-hidden="true" (click)="changeRating(1,getMyDish())"></i>
              <ng-template #fullStar1>
                <i class="fa fa-star" aria-hidden="true" (click)="changeRating(1,getMyDish())"></i>
              </ng-template>

              <i *ngIf="getMyDish().rating < 2;else fullStar2"
                 class="fa fa-star-o" aria-hidden="true" (click)="changeRating(2,getMyDish())"></i>
              <ng-template #fullStar2>
                <i class="fa fa-star" aria-hidden="true" (click)="changeRating(2,getMyDish())"></i>
              </ng-template>

              <i *ngIf="getMyDish().rating < 3;else fullStar3"
                 class="fa fa-star-o" aria-hidden="true" (click)="changeRating(3,getMyDish())"></i>
              <ng-template #fullStar3>
                <i class="fa fa-star" aria-hidden="true" (click)="changeRating(3,getMyDish())"></i>
              </ng-template>


              <i *ngIf="getMyDish().rating < 4;else fullStar4"
                 class="fa fa-star-o" aria-hidden="true" (click)="changeRating(4,getMyDish())"></i>
              <ng-template #fullStar4>
                <i class="fa fa-star" aria-hidden="true" (click)="changeRating(4,getMyDish())"></i>
              </ng-template>

              <i *ngIf="getMyDish().rating < 5;else fullStar5"
                 class="fa fa-star-o" aria-hidden="true" (click)="changeRating(5,getMyDish())"></i>
              <ng-template #fullStar5>
                <i class="fa fa-star" aria-hidden="true" (click)="changeRating(5,getMyDish())"></i>
              </ng-template>
          </div>
        </div>
      </div>
      <div class="forms">
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
          <h1>Your review</h1>

          <div class="input-block">
            <label for="nick">Nickname: </label>
            <input formControlName="nick" type="text" name="nick" id="nick">
          </div>

          <div class="input-block">
            <label for="title">Title of your review: </label>
            <input formControlName="title" type="text" name="title" id="title">
          </div>

          <div class="input-block">
            <label>Content: </label>
            <textarea formControlName="content" ></textarea>
          </div>

          <div class="input-block">
            <label for="date">Date of buying </label>
            <input formControlName="date" type="date" name="date" id="date">
          </div>
          <button type="submit" [disabled]="!reviewForm.valid">Submit</button>
        </form>
      </div>
      </div>

  </div>

  <div class="existing-reviews">
    <div class="review" *ngFor="let review of myReviews">
      <h1>{{review.title}}</h1>
      <p>"{{review.content}}"</p>
      <h2>{{review.nick}}</h2>
    </div>
  </div>
  <div class="goBack">
    <a [routerLink]="['/menu']" routerLinkActive="active">
      <i class="fa fa-long-arrow-left" aria-hidden="true">Go Back to Menu</i>
    </a>
  </div>
</div>
