<nav>
  <div class="options">
    <div class="option" >
      <a [routerLink]="['/']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
    </div>
    <div class="option"  >
      <a [routerLink]="['/posts']" routerLinkActive="active" >
        Posts
      </a>
    </div>
    <div class="option" >
      <a [routerLink]="['/photos']" routerLinkActive="active">
        Photos
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
