*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --background-color:rgb(170, 190, 190);
  --small-font-size:2rem;
  --big-font-size: 3rem;
}

.container {
  text-align: center;
  display: grid;
  width: 100vw;
  grid-template-areas: "brands models colors";
  cursor: pointer;
}



.brands {
  width: 100%;
  grid-area: brands;
  background-color: var(--background-color);
}

.models {
  width: 100%;
  background-color: var(--background-color);
  grid-area: models;
}

.colors {
  background-color: var(--background-color);
  grid-area: colors;
  width: 100%;
}

ul {
  list-style-type: none;
}

li {
  justify-content: center;
  align-items: center;
  display: flex;
  text-transform: capitalize;
  height: 50px;
}

li:hover {
  background-color: #3d3c3c;
  color: #f4efef;
}

.active {
  background-color: #0f4352;
  color: white;
}

.info {
  font-size: 5rem;
  color: white;
  height: 7rem;
  background-color: #112847;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorName {
  text-align: left;
  width: 30%;
}

.colorPallet {
  border: 2px solid black;
  border-radius: 5px;
  display: inline-block;
  width: 40%;
  height: 50%;
}

li,h1,p{
  font-family: "Agency FB", serif;
}

h1{
  font-size: var(--big-font-size);
}

p{
  font-size: var(--small-font-size);
}
