<div class="container">
  <div class="brands">
    <ul>
      <h1>Brands</h1>
      <li *ngFor="let brand of brands" (click)="chooseBrand($event, brand)">
        {{ brand }}
      </li>
    </ul>
  </div>

  <div class="models">
    <ul *ngIf="brandChosen; else brandNotChosen">
      <h1>Models</h1>
      <li
        *ngFor="let model of currentModels"
        (click)="chooseModel($event, model)"
      >
        {{ model }}
      </li>
    </ul>

    <ng-template #brandNotChosen>
      <p>Choose a brand!</p>
    </ng-template>
  </div>

  <div class="colors">
    <ul *ngIf="modelChosen; else modelNotChosen">
      <h1>Colors</h1>
      <li
        *ngFor="let color of currentColors"
        (click)="chooseColor($event, color)"
      >
        <p class="colorName">Color {{ color }}</p>
        <div class="colorPallet" [style.background]="color"></div>
      </li>
    </ul>

    <ng-template #modelNotChosen>
      <p>Choose a model!</p>
    </ng-template>
  </div>
</div>

<div class="info" *ngIf="colorChosen">
  <p>
    You chose {{ currentBrand }} {{ currentModel }} in {{ currentColor }}, good choice ;)
  </p>
</div>
