* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3{
  font-family: var(--main-font);
  margin: 7px;
  color: var(--background-dark);
  background-color: var(--background-light);
  border-radius: var(--small-border-radious);

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5vh;
}

.box {
  background: var(--background-dark);
  color: var(--background-light);
  border-radius: var(--small-border-radious);
  box-shadow: var(--box-shadow);
  margin: 10px;
}



p {
  font-style: italic;
  text-align: center;
  font-family: var(--main-font);
  padding: 7px;
  font-size: var(--font-size-small);
}

h1 {
  text-align: center;
  font-size: var(--font-size-big);
}

h2{
  font-size:var(--font-size-medium);
  width: fit-content;
  padding: 3px;
}

span{
  color: var(--span-color);
}
ul{
  display: flex;
  margin-left: 2rem;
  flex-direction: column;
}

li{
  list-style-type: square;
  font-size: var(--font-size-small);
  font-family: var(--main-font);
}

.amount{
  display: flex;
  align-items: center;
}

h4,.plus,.minus{
  font-family: var(--secondary-font);
  font-size: var(--font-size-big);
}

h4{
  margin-left: 3%;

}

.plus,.minus{
  margin-left: 3%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  border-radius: var(--small-border-radious);
}
.plus{
  margin-left: 15%;
}

.stars{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10rem;
}

.stars i{
  margin: 3px;
  font-size: var(--font-size-medium);
  cursor: pointer;
  color: var(--star-color);
}



.priceAndStars{
  display: flex;
  align-items: center;
}

/*slider*/
picture {
  object-fit: cover;
  z-index: 3;
}
img {
  height: 100%;
}

section {
  display: flex;
  position: relative;
  height: 50vh;
  border: white solid 0.2vw;
  margin: 1rem 5rem 1rem 1rem;
}

section picture {
  position: relative;
  flex: 1;
  border-right: 0.5vw white solid;
  overflow: hidden;
  transition: 1s ease-in-out;
}

section picture:last-child {
  border-right: 0;
}

section picture:hover {
  flex-grow: 2;
}

.img-box{
  width: 70%;
  margin-left: 3rem;
}

.goBack{
  background-color: var(--background-light);
  width: fit-content;
  font-size: var(--font-size-big);
  padding: 5px;
  border-radius: var(--big-border-radious);
  margin-left: 5rem;
  margin-top: 1rem;
}
.goBack i{
  color: var(--background-dark);
}

.goBack i:hover{
  color: var(--span-color);
}
