.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-grey);
  font-size: var(--font-size-big);
  margin: 1rem 0 1rem 0;
}

.option {
  color: white;
  margin: 1rem;
}

i{
  font-size: var(--font-size-big);
  color: var(--light-grey);
}

.option:hover i{
  cursor: pointer;
  color: var(--span-color);
  transform: scale(1.2);
}


