<div class="container">
  <div class = "option" (click) ="paginationService.pageFirst()">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>
  <div class = "option" (click) ="paginationService.pagePrev()">
    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
  </div>
  <div class = "option">
    {{paginationService.currentPage}}
    <i class="fa fa-arrows-h" aria-hidden="true"></i>
    {{paginationService.getMaxPage()}}</div>
  <div class = "option" (click) = "paginationService.pageNext()">
    <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
  </div>
  <div class = "option" (click) = "paginationService.pageLast()">
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>
  <div class = "option">
    <form>
      <input #pagesNumber type="number" name="" id="pagesNumber" value="6">
      <button type="submit" (click)="paginationService.itemsAtOneTime = +pagesNumber.value" >change pages number</button>
    </form>
  </div>
</div>
