<div class="container">
<!--  ( selected: number[],dishes: Dish[],dishList: string[],sumOfSelected: number)-->
  <div class="box" *ngFor="let myDish of this.myDishes
    | filterDishes : dishesService.dishTypes: dishesService.dishTypesSelected:sum(dishesService.dishTypesSelected)
    | filterCuisinesPipe : dishesService.cuisineTypes:dishesService.cuisineTypesSelected : sum(dishesService.cuisineTypesSelected)
    | starsPipe : dishesService.starsSelected:sum(dishesService.starsSelected)
    | pricePipe :dishesService.prices[2]:dishesService.prices[3]
">

    <div class="delete-btn">
      <i class="fa fa-times" aria-hidden="true" (click)="deleteElement(myDish)"></i>
    </div>
    <div class="img-box">
      <img
        src="{{myDish.imgPath[0]}}"
        alt="{{myDish.name}}"
      />
    </div>
    <div class="generalInfo">
      <h1>{{myDish.name | uppercase}}</h1>
      <h2>Kuchnia: {{myDish.cuisine | uppercase}}</h2>
      <h2>Rodzaj dania: {{myDish.dishType | lowercase}}</h2>
    </div>

    <div class="details" (click)="goToDetails(myDish.id)">
      <i class="fa fa-info-circle" aria-hidden="true"> See more</i>
    </div>
    <div class="amount">
      <h2>Dostępna ilość:</h2>
      <h4 *ngIf="myDish.amount <=3 " [style.color]="'red'">
        {{myDish.amount}}
      </h4>
      <h4 *ngIf="myDish.amount < 10 && myDish.amount > 3" [style.color]="'yellow'">
        {{myDish.amount}}
      </h4>
      <h4 *ngIf="myDish.amount >= 10" [style.color]="'green'">
        {{myDish.amount}}
      </h4>
      <button class="plus" (click)="takeItem(myDish)" [disabled]="myDish.amount===0">+</button>
      <button class="minus" (click)="returnItem(myDish)" [disabled]="myDish.amount===myDish.maxAmt">-</button>
    </div>

    <div class="priceAndStars">
      <div class="price">
        <h2>
          Price
          <span *ngIf="getIdxInPriceList(myDish.id,myDish.price)<=0.2*dishesService.myDishes.length" [style.color]="'green'">
          {{ moneyItemHandler.getRealPrice(myDish.price) }}
        </span>

          <span *ngIf="getIdxInPriceList(myDish.id,myDish.price) > 0.2*dishesService.myDishes.length && getIdxInPriceList(myDish.id,myDish.price) <= 0.7*dishesService.myDishes.length"
                [style.color]="'yellow'">
          {{ moneyItemHandler.getRealPrice(myDish.price) }}
        </span>

          <span *ngIf="getIdxInPriceList(myDish.id,myDish.price)>0.7*dishesService.myDishes.length" [style.color]="'red'">
          {{ moneyItemHandler.getRealPrice(myDish.price) }}
        </span>

          {{moneyItemHandler.currency }}
        </h2>

      </div>
      <div class="stars">
      <i *ngIf="myDish.rating < 1;else fullStar1"
         class="fa fa-star-o" aria-hidden="true"></i>
      <ng-template #fullStar1>
        <i class="fa fa-star" aria-hidden="true"></i>
      </ng-template>

      <i *ngIf="myDish.rating < 2;else fullStar2"
         class="fa fa-star-o" aria-hidden="true"></i>
      <ng-template #fullStar2>
        <i class="fa fa-star" aria-hidden="true"></i>
      </ng-template>

      <i *ngIf="myDish.rating < 3;else fullStar3"
         class="fa fa-star-o" aria-hidden="true"></i>
      <ng-template #fullStar3>
        <i class="fa fa-star" aria-hidden="true"></i>
      </ng-template>


      <i *ngIf="myDish.rating < 4;else fullStar4"
         class="fa fa-star-o" aria-hidden="true"></i>
      <ng-template #fullStar4>
        <i class="fa fa-star" aria-hidden="true"></i>
      </ng-template>

      <i *ngIf="myDish.rating < 5;else fullStar5"
         class="fa fa-star-o" aria-hidden="true"></i>
      <ng-template #fullStar5>
        <i class="fa fa-star" aria-hidden="true"></i>
      </ng-template>
      </div>
    </div>
    </div>
  <button (click)="test()">test</button>
  </div>
