<div class="nav-bar">
  <div class="option logo">
    <div class="name"><span>my</span>Kitchen</div>
  </div>
  <div class="option">
    <a href="#">home</a>
  </div>

  <div class="option">
    <a href="#">About</a>
  </div>

  <div class="option">
    <a href="#">Contact</a>
  </div>

  <div class="option">
    <a href="#">Careers</a>
  </div>

  <div class="option">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
  </div>
  <div class="option">
    <h2 class="amtDisplayer">X</h2>
  </div>

</div>
