.nav-bar {
  display: flex;
  width: 100%;
  margin-bottom: 10vh;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px rgb(211, 205, 205) solid;
  background-color: white;
  font-family: var(--main-font);
}

.option {
  margin-right: 5vw;
}

.option a {
  font-size: var(--font-size-big);
  color: var(--background-dark);
  font-family: var(--main-font);
  padding-top: 1vw;
  padding-bottom: 1vw;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.logo {
  position: relative;
  display: flex;
  left: -10vw;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  color: var(--background-dark);
}

span {
  color: var(--span-color);
}

.logo {
  position: relative;
  left: 0vw;
}

.logo .name {
  margin-bottom: 1.5vh;
  margin-left: 0.5vw;
  font-weight: 800;
  font-size: 3vw;
}

i {
  font-size: var(--font-size-big);
}

.amtDisplayer {
  border: 1px solid var(--background-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
}
