<app-navbar></app-navbar>
<div class="container">
  <div class="block about-us">
  <h1>Hello fellow stranger</h1>
    <p>If you have come here chances are you might be in need of yummy stuff.
      If so worry not :) You've come to the right place we prepare our meals
      with great care so surely you will find plenty of stuff just perfect for your tummy ;) </p>
  </div>
  <div class="block map-holder">
    <app-map></app-map>
  </div>
  <div class="block team-photo-holder">
    <img src="https://www.finedininglovers.com/sites/g/files/xknfdk626/files/styles/article_1200_800/public/2019-11/Chef%20at%20work%20in%20the%20kitchen%20-%20Creative%20Commons%202.0_0.jpg.webp?itok=zieq-2WK" alt="chefsTeamPhoto">
  </div>
  <div class="block contact-info">
    <h1>Contact <span>Us</span></h1>
    <h2>Phone number: 666 666 666</h2>
    <h2>Email: randomMail@mailbox.com</h2>
    <h2>You can find us at </h2>
    <h2><span>D17 Ul. Kawiory 21 30-055 Cracow</span></h2>
  </div>
</div>
