.nav-bar {
  background-color: var(--background);
  font-family: "Teko", sans-serif;
  display: flex;
  align-items: center;
  height: 10vh;
}

.nav-options a {
  clear: right;
  text-decoration: none;
  margin-right: 5vw;
  line-height: 5vw;
  color: var(--font);
  font-size: 4vw;
  text-transform: uppercase;
}

.nav-bar .logo {
  height: 9vh;
  width: 9vh;
  color: var(--background);
  background-color: rgba(129, 196, 101, 1);
  border-radius: 50%;
  font-size: 100%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.nav-options {
  transition: 0.7s;
  margin-left: 20vw;
}

.nav-options a:hover {
  color: white;
}

/* hamburger menu */
label {
  color: var(--font);
  padding: 1vw;
  display: none;
  background-color: var(--background);
}

#toggle {
  display: none;
}

* {
  box-sizing: border-box;
}

.icon {
  margin-top: 3vw;
  position: relative;
}
.icon,
.icon::before,
.icon::after {
  width: 8vw;
  height: 0.5vw;
  background-color: var(--font);
  display: inline-block;
}
.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.icon::before {
  top: -3vw;
}
.icon::after {
  top: 3vw;
}

.nav-btn:hover .icon::before {
  top: -2vw;
}

.nav-btn:hover .icon::after {
  top: 2vw;
}

.checkbox:checked + .nav-btn .icon {
  background-color: transparent;
}

.checkbox:checked + .nav-btn .icon::before {
  top: 0;
  transform: rotate(135deg);
}

.checkbox:checked + .nav-btn .icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* end of hamburger menu */

/* media */
@media (max-width: 800px) {
  .nav-options {
    padding-top: 0vh;
    margin-left: 0vw;
  }
  .nav-bar .logo {
    display: none;
  }

  label {
    display: block;
    cursor: pointer;
  }
  .nav-options {
    background-color: var(--background);
    text-align: center;
    width: 100%;
    top: -100%;
    opacity: 0;
    position: fixed;
  }

  .nav-options a {
    display: block;
    border-top: solid var(--font) 0.5vw;
    margin: 0;
    font-size: 5vw;
    /* padding: 2vw; */
  }
  .nav-options:last-child {
    border-bottom: solid var(--font) 0.5vw;
  }

  #toggle:checked ~ .nav-options {
    opacity: 1;
    top: 10vh;
  }

  .nav-options a:hover {
    background-color: rgb(89, 94, 98);
  }
}

/* end of media */
