<div class="nav-bar">
  <div class="logo">
    <div class="name"><span>my</span>Kitchen</div>
  </div>

  <div class="nav-items">

    <div class="option">
      <a [routerLink]="['/']">
        Home
      </a>
    </div>

    <div class="option">
      <a [routerLink]="['/checkout']" routerLinkActive="active" *ngIf="dataHandler.isAuthenticated">
        Check<span>out</span>
      </a>
    </div>

    <div class="option filter">
      <h1 (click)="dataHandler.changeDisplayFilters()">
        <i class="fa fa-sliders" aria-hidden="true"></i> Filters
      </h1>
    </div>
    <div class="option">
      <div *ngIf="moneyItemHandler.basketItems>10; else elseBlock" class="amountDisplayer"
           [style.backgroundColor]="'steelblue'">{{moneyItemHandler.basketItems}}</div>
      <ng-template #elseBlock>
        <div class="amountDisplayer" [style.backgroundColor]="'orange'">{{moneyItemHandler.basketItems}}</div>
      </ng-template>
    </div>

    <div class="option">
      <h2 class="basketValue">{{moneyItemHandler.getRealPrice(moneyItemHandler.basketValue)}}
        <span>{{moneyItemHandler.currency}}</span></h2>
    </div>

    <div class="option currencies">
      <button class="curr euro" (click)="this.moneyItemHandler.currency = '€'"
              [disabled]="moneyItemHandler.currency==='€'">€
      </button>
      <button class="curr usd" (click)="this.moneyItemHandler.currency = '$'"
              [disabled]="moneyItemHandler.currency==='$'">$
      </button>
    </div>

    <div class="listOfItems">
      <div class="basket"
           (click)="listOfItems.style.display ==='none' ? listOfItems.style.display='flex' : listOfItems.style.display ='none'">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Basket
      </div>
      <div #listOfItems class="dropDown">
        <div *ngFor="let i of moneyItemHandler.checkoutList" class="item">
          <h1>{{i.amount}} <span>x</span> {{i.name}}
            <span>{{moneyItemHandler.getRealPrice(i.value)}}</span> {{moneyItemHandler.currency}} </h1>
        </div>
        <div class="item total">
          <span>Total</span>: {{moneyItemHandler.getRealPrice(moneyItemHandler.basketValue)}}{{moneyItemHandler.currency}}
        </div>
      </div>
    </div>
    <div class="option auth" *ngIf="!dataHandler.isAuthenticated">
      <a [routerLink]="['/login']" routerLinkActive="active">
        Log<span>In</span>
      </a>
    </div>
    <div class="option auth" *ngIf="!dataHandler.isAuthenticated">
      <a [routerLink]="['/signup']" routerLinkActive="active">
        Sign<span>Up</span>
      </a>
    </div>
    <div class="option auth" *ngIf="
  dataHandler.isAuthenticated &&
   dataHandler.isAdmin">
      <i class="fa fa-star credentials" aria-hidden="true"> ADMIN</i>
    </div>
    <div class="option auth" *ngIf="
  dataHandler.isAuthenticated &&
   !dataHandler.isAdmin &&
    dataHandler.isManager">
      <i class="fa fa-star-half-o credentials" aria-hidden="true"> MANAGER</i>
    </div>
    <div class="option auth"
         *ngIf="dataHandler.isAuthenticated &&
        !dataHandler.isAdmin &&
         !dataHandler.isManager &&
          dataHandler.isUser">
      <i class="fa fa-star-o credentials" aria-hidden="true"> USER</i>
    </div>
    <div class="option nick-logout-box" *ngIf="dataHandler.isAuthenticated">
      <i class="fa fa-user credentials" aria-hidden="true"> {{dataHandler.nick}}</i>
      <a (click)="onLogout()" class="logout">
        Log<span>Out</span>
      </a>
    </div>
  </div>
</div>
