/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '~font-awesome/css/font-awesome.css';
:root {
  --dark-grey: #2f2d2d;
  --light-grey: #e3e0e0;
  --box-shadow: 5px 5px 3px grey;
  --main-font:'Poppins', sans-serif;
  --secondary-font: "Agency FB", serif;
  --small-border-radious:2px;
  --medium-border-radious:7px;
  --big-border-radious:15px;
  --span-color:steelblue;
  --font-size-huge:3vw;
  --font-size-big:2vw;
  --font-size-medium:1.3vw;
  --font-size-small:0.9vw;
  --hover-grey:#676464;
  --star-color:#d19f15;
  --light-background: #e9eef1;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active{
  font-weight: bold;
}

.error-display{
  background-color: red;
  opacity: 0.7;
  border-radius: var(--medium-border-radious);
  font-size: var(--font-size-big);
  font-family: var(--secondary-font);
  font-weight: 700;
  padding: 10px;
  color: white;
  margin: 1rem;
}
