<div class="container">
  <div class="box" *ngFor="let myDish of myDishes">
    <div class="img-box">
      <picture>
        <source
          srcset="
               {{myDish.imgPath[3]}}
              "
          media="(max-width: 480px)"
        />
        <source
          srcset="
               {{myDish.imgPath[2]}}
              "
          media="(max-width: 768px)"
        />
        <source
          srcset="
               {{myDish.imgPath[1]}}
              "
          media="(max-width: 1024px)"
        />
        <source
          srcset="
                {{myDish.imgPath[0]}}
              "
          media="(max-width: 1200px)"
        />
        <img
          src="{{myDish.imgPath[0]}}"
          alt="{{myDish.name}}"
        />
      </picture>
    </div>
    <div class="generalInfo">
      <h1>{{myDish.name}}</h1>
      <h2>Kuchnia: {{myDish.cuisine}}</h2>
      <h2>Rodzaj dania: {{myDish.dishType}}</h2>
    </div>
    <div class="ingredients">
      <h2>Skła<span>dniki</span></h2>
      <ul>
        <li *ngFor="let item of myDish.ingredients">{{item}}</li>
      </ul>
    </div>
    <div class="info">

    </div>
    <div class="description">
      <h2>OPIS</h2>
      <p>"{{myDish.description}}"</p>
    </div>
    <div class="amount">
      <h2>Dostępna ilość:</h2>
      <h4>{{myDish.amount}}</h4>
      <button class="plus">+</button>
      <button class="minus">-</button>
    </div>
    <div class="price">
      <h2>Price <span>{{myDish.price}}</span></h2>
    </div>

  </div>

</div>
